main {
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 40px;
    color: lightblue;
}

.deck {
    width: 100%;
    background-color: lightcoral;
    display: flex;
    flex-wrap: wrap;
}

.carta {
    width: 100px;
    height: 100px;
    background-color: #99CEA8;
    margin: 34px;
}