main {
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 40px;
    color: lightblue;
}

.deck {
    width: 100%;
    background-color: lightcoral;
    display: flex;
    flex-wrap: wrap;
}

.game-card {
    width: 117px;
    height: 146px;
    margin: 34px;
}

.bottom-side {
    background-color: gray
}

.bottom-side.top-side {
    background-color: #99CEA8;
}

.bottom-side.selected-correctly {
    background-color: #99CEA8;
}